
.done 
{ 
     opacity: 0.5;       
     span 
     { 
         text-decoration: line-through; 
     } 
 } 

.todo-form {
  width: 250px;
  float: left;
  margin: 0 50 0 0;
  background-color: #90C3D4;
  min-height: 50px;
  border-radius: 10px;
  padding: 10px;
}

.task-list {
    float: left;
}

